
BaseDados/financeiro_licit_2020.csv
BaseDados/financeiro_licit_2019.csv
BaseDados/financeiro_licit_2018.csv
BaseDados/financeiro_licit_2017.csv
BaseDados/financeiro_licit_2016.csv
BaseDados/financeiro_licit_2015.csv
BaseDados/financeiro_licit_2014.csv
BaseDados/financeiro_licitacoes_dicionario.pdf
